.block__1 {
  height: 200px;
  width: 200px;
  border-radius: 35px;
  background-color: rgb(248, 138, 228);
  border: 5px solid black;
  transition: all 3s 2s;
  margin: 50px 150px;
}

.block__1:hover {
  border-color: rgb(186, 44, 96);
}

.block__2 {
  height: 200px;
  width: 200px;
  border-radius: 35px;
  background-color: rgb(153, 170, 195);
  border: 5px solid black;
  transition-property: all;
  transition-duration: 3s;
  transition-delay: 2s;
  margin: 50px 150px;
}

.block__2:hover {
  border-color: rgb(99, 162, 199);
}
