.container {
  height: 200vh;
}

.block {
  position: fixed;
  bottom: 100px;
  right: 50px;
  height: 500px;
  width: calc(50% - 50px);
  box-shadow: inset 0px 0px 20px #000;
  border-radius: 35px;
  background-color: rgb(248, 138, 228);
}
