@font-face {
  font-family: Inter;
  font-weight: 500;
  font-style: normal;
  src: local("Inter Medium"), url("../fonts/Inter-Medium.eot") format("eot"), url("../fonts/Inter-Medium.woff") format("woff"), url("../fonts/Inter-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Inter;
  font-weight: 400;
  font-style: normal;
  src: local("Inter Regular"), url("../fonts/Inter-Regular.eot") format("eot"), url("../fonts/Inter-Regular.woff") format("woff"), url("../fonts/Inter-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Playfair Display;
  font-weight: 700;
  font-style: normal;
  src: local("Playfair Display"), url("../fonts/PlayfairDisplay-Bold.eot") format("eot"), url("../fonts/PlayfairDisplay-Bold.woff") format("woff"), url("../fonts/PlayfairDisplay-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Playfair Display;
  font-weight: 500;
  font-style: normal;
  src: local("Playfair Display"), url("../fonts/PlayfairDisplay-Medium.eot") format("eot"), url("../fonts/PlayfairDisplay-Medium.woff") format("woff"), url("../fonts/PlayfairDisplay-Medium.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Playfair Display;
  font-weight: 400;
  font-style: normal;
  src: local("Playfair Display"), url("../fonts/PlayfairDisplay-Regular.eot") format("eot"), url("../fonts/PlayfairDisplay-Regular.woff") format("woff"), url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: Playfair Display;
  font-weight: 600;
  font-style: normal;
  src: local("Playfair Display"), url("../fonts/PlayfairDisplay-SemiBold.eot") format("eot"), url("../fonts/PlayfairDisplay-SemiBold.woff") format("woff"), url("../fonts/PlayfairDisplay-SemiBold.woff2") format("woff2");
  font-display: swap;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

a {
  color: inherit;
}

html {
  font-family: Playfair Display, sans-serif;
  text-transform: capitalize;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1203px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.burger {
  display: none;
}

.change__color {
  color: #0095a4;
}

.header__buttons-contact:hover,
.header__info-btn:hover,
.chance__btn:hover,
.visit__btn:hover,
.footer__btn-blue:hover,
.footer__btn-black:hover {
  transform: scale(1.05);
}

.header__top {
  background-color: #f4fdfe;
  padding: 25.5px 0;
}

.header__top-inner {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  margin-right: 136px;
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 28px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link,
.header__buttons-login {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #636465;
  white-space: nowrap;
  transition: all 0.3s;
}

.header__nav-link:hover,
.header__buttons-login:hover {
  color: #101c26;
}

.header__nav-link::before,
.header__buttons-login::before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -1px;
  background-color: #101c26;
  transition: width 0.3s ease-in-out;
}

.header__nav-link:hover:before,
.header__buttons-login:hover:before {
  width: 100%;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__buttons-login {
  margin-right: 26px;
}

.header__buttons-contact {
  display: inline-block;
  background-color: #0095a4;
  color: #ffffff;
  white-space: nowrap;
  padding: 10px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  border-radius: 50px;
  transition: 0.4s;
}

.header__body {
  margin-top: 81px;
}

.header__content-top {
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 79px;
}

.header__title {
  max-width: 604px;
  font-weight: 700;
  font-size: 68px;
  line-height: 120%;
  color: #0c1623;
}

.header__info-text {
  max-width: 468px;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #122237;
  text-transform: none;
}

.header__info-btn {
  display: inline-block;
  background-color: #0095a4;
  color: #ffffff;
  white-space: nowrap;
  padding: 10px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  border-radius: 50px;
  transition: 0.4s;
  margin-top: 23px;
}

.header__content-bottom {
  position: relative;
}

.header__card1 {
  position: relative;
  max-width: 288px;
  background: #ffffff;
  box-shadow: 8px 8px 49px rgba(25, 57, 70, 0.25);
  border-radius: 6px;
  padding: 20px;
  position: absolute;
  top: -65px;
  left: none;
  right: -45px;
  bottom: none;
  transition: all 0.5s;
}

.header__card1:hover,
.header__card2:hover {
  box-shadow: 12px 12px 49px rgba(25, 57, 70, 0.558);
}

.header__img-man {
  position: absolute;
  top: -17%;
  left: none;
  right: -5%;
  bottom: none;
}

.header__card1-subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #021c1c;
  margin-bottom: 8px;
}

.header__card1-rating {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
}

.header__card1-proff {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: rgba(62, 86, 88, 0.6980392157);
}

.header__card1-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #0095a4;
}

.header__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #122237;
  text-transform: none;
  margin-top: 15px;
}

.header__card2 {
  width: 353px;
  background: #ffffff;
  box-shadow: 8px 8px 49px rgba(25, 57, 70, 0.25);
  border-radius: 6px;
  padding: 18px 25px 18px 21px;
  position: absolute;
  top: none;
  left: -60px;
  right: none;
  bottom: 220px;
  display: flex;
  transition: all 0.5s;
}

.header__card2-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 16px;
}

.header__card2-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #0c1623;
  margin: 8px 0;
}

.header__card2-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: rgba(62, 86, 88, 0.6980392157);
}

.heager__card2-sale {
  margin: 14px 0;
  background-color: #e8eff4;
  white-space: nowrap;
  padding: 5.5px 20.5px;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #0095a4;
  border-radius: 10px;
}

.header__card2-price {
  color: #0095a4;
}

.header__body {
  position: relative;
  z-index: 20;
}

.header__body::after {
  z-index: -5;
  content: "";
  position: absolute;
  top: calc(100% - 317px);
  background-color: #e8eff4;
  width: 100%;
  height: 317px;
}

.main__choice {
  background-color: #f4fdfe;
  padding: 110px 0 267px;
}

.choice__inner {
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
  justify-content: space-between;
}

.choice__title {
  font-weight: 600;
  font-size: 46px;
  line-height: 120%;
  color: #0c1623;
  margin-bottom: 40px;
}

.choice__content-left {
  position: relative;
}

.choice__img-house {
  position: absolute;
  top: none;
  left: -134px;
  right: none;
  bottom: none;
  position: relative;
}

.choice__img-room {
  position: absolute;
  top: 335px;
  left: none;
  right: -30px;
  bottom: none;
}

.choice__content-right {
  margin-top: 95.2px;
  max-width: 592px;
}

.choice__text {
  font-family: Inter, sans-serif;
  margin-bottom: 133px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(12, 22, 35, 0.8);
  letter-spacing: 0.03em;
  text-transform: none;
}

.choice__items {
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
  justify-content: space-around;
}

.choice__item {
  width: 176px;
  height: 204px;
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.choice__item:hover {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.427);
}

.choice__desc {
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: #101c26;
  margin-top: 20px;
}

.main__amenities {
  background-color: #ffffff;
  position: relative;
  z-index: 100;
}

.main__amenities::after {
  content: "";
  width: 80%;
  height: 203px;
  background-color: #0095a4;
  position: absolute;
  top: 79%;
  left: 0;
  right: none;
  bottom: none;
  z-index: -1;
}

.amenities__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.amenities__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #0c1623;
  margin-bottom: 20px;
}

.amenities__subtitle {
  font-family: Inter, sans-serif;
  margin-bottom: 41px;
  text-transform: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  color: #101c26;
}

.amenities__items {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.amenities__item {
  width: 278px;
  height: 334px;
  background: #ffffff;
  box-shadow: 6px 8px 46px rgba(130, 172, 162, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.amenities__item:hover {
  box-shadow: 6px 8px 46px rgba(104, 118, 115, 0.482);
  transform: scale(1.03);
}

.amenities__img {
  position: relative;
  z-index: 5;
  width: 108px;
  height: 108px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
}

.amenities__circle {
  position: absolute;
  top: 50%;
  left: 50%;
  right: none;
  bottom: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #eafafb;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.amenities__desc {
  font-weight: 500;
  font-size: 24px;
  line-height: 180%;
  color: #0c1623;
}

.main__plans {
  position: relative;
  padding: 201px 0 125px;
  background-color: #e8eff4;
}

.plans__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.plans__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #0c1623;
  margin-bottom: 20px;
}

.plans__subtitle {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  color: rgba(16, 28, 38, 0.8);
  margin-bottom: 25px;
  text-transform: none;
}

.plans__filter-box {
  width: 40%;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 40px;
}

.plans__filter-btn {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #0c1623;
  background-color: transparent;
  transition: all 0.3s;
}

.plans__filter-btn--active,
.plans__filter-btn:hover {
  transform: scale(1.03);
  color: #0095a4;
}

.plans__items {
  display: grid;
  grid-template: repeat(2, auto)/repeat(3, 1fr);
  gap: 30px;
  margin: 0 auto;
}

.plans__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  height: 446px;
  background: #ffffff;
  box-shadow: 6px 8px 40px rgba(164, 166, 168, 0.25);
  border-radius: 10px;
  transition: all 0.5s;
}

.plans__item:hover {
  transform: scale(1.03);
  box-shadow: 6px 8px 40px rgba(140, 141, 143, 0.566);
}

.plans__img img {
  border-radius: 10px 10px 0px 0px;
}

.plans__text {
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  color: #0c1623;
  margin: 24px 0 16px;
}

.plans__desc {
  font-family: Inter, sans-serif;
  text-transform: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #3b464f;
  margin-bottom: 20px;
  max-width: 320px;
  text-align: center;
  letter-spacing: 0.03em;
}

.plans__link {
  background-color: transparent;
  width: 109px;
  display: flex;
  flex-direction: initial;
  align-items: baseline;
  justify-content: space-between;
  transition: all 0.3s;
}

.plans__link:hover {
  transform: scale(1.07);
}

.plans__link-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #0095a4;
  letter-spacing: 0.03em;
}

.main__gallery {
  background: linear-gradient(to top, #ffffff 55%, #e8eff4 0%);
  padding-bottom: 143px;
}

.swiper-slide {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: #1d263a;
  transition: all 0.3s;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #0095a4;
  transform: scale(1.1);
}

.gallery__title {
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 150%;
  color: #0c1623;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.gallery__subtitle {
  text-align: center;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: rgba(16, 28, 38, 0.8);
  margin-bottom: 53px;
}

.main__chance {
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg, rgba(7, 20, 30, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../images/image/house_miss.png");
  background-position: center;
  background-size: cover;
  margin-bottom: 140px;
}

.chance__inner {
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
  justify-content: space-between;
}

.chance__box-text {
  max-width: 433px;
}

.chance__title {
  margin: 125px 0 20px;
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.chance__subtitle {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 170%;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.chance__box-form {
  background: #ffffff;
  border-radius: 280.513px 280.513px 0px 0px;
  margin-top: 26px;
  height: 774px;
  width: 510px;
}

.chance__form {
  height: 100%;
  margin-top: 105.25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.chance__form-title {
  margin-bottom: 27px;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  color: #0c1623;
}

.chance__row {
  display: flex;
}

.chance__label {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #0c1623;
  margin-bottom: 30px;
}

.chance__input,
.chance__message {
  display: block;
  padding: 13px 5px 14px 17px;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: rgba(16, 28, 38, 0.6);
  background: #f4fdfe;
  border: 0.574862px solid #76989a;
  border-radius: 6.04423px;
  margin: 10px 31px 0 0;
}

.chance__tel,
.chance__lastname,
.chance__message {
  margin-right: 0;
}

.chance__textarea {
  width: 86%;
  margin: 15px 0 45px;
  text-transform: none;
}

.chance__message {
  margin-top: 10px;
  resize: none;
  height: 160px;
  min-width: 100%;
}

.chance__btn {
  display: inline-block;
  background-color: #0095a4;
  color: #ffffff;
  white-space: nowrap;
  padding: 12px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 120%;
  border-radius: 32px;
  transition: 0.4s;
  width: 86%;
  margin-bottom: 45px;
}

.chance__desc {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 170%;
  color: #6e7189;
  letter-spacing: 0.03em;
}

.main__faq {
  background-color: #e8eff4;
  padding: 114px 0 79px;
}

.faq__inner {
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
  justify-content: space-between;
}

.faq__content-left {
  max-width: 410px;
}

.faq__title {
  font-weight: 800;
  font-size: 48px;
  line-height: 130%;
  color: #0c1623;
  margin-bottom: 15px;
}

.faq__subtitle {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #0c1623;
  text-transform: none;
}

.faq__content-right {
  text-transform: none;
}

.faq__accordeon {
  width: 682px;
}

.faq__accordeon-item {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 5px;
}

.faq__accordeon-link {
  display: block;
  padding: 35px;
  border-radius: 5px;
}

.faq__accordeon-head {
  position: relative;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
}

.faq__head-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 170%;
  color: #0c1623;
}

.faq__head-btn {
  transition: all 0.5s;
}

.faq__accordeon-text {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: rgba(29, 38, 58, 0.8980392157);
  margin-top: 16px;
}

.faq__accordeon-link--active {
  border: 1px solid #3fc3ca;
  box-shadow: 6px 10px 50px rgba(168, 175, 183, 0.25);
  border-radius: 5px;
  transition: all 0.5s;
}

.faq__accordeon-link--active .faq__head-btn {
  transform: rotate(180deg);
}

.main__visit {
  background-color: #0c1623;
  padding: 64px 0;
}

.visit__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.visit__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 130%;
  color: #ffffff;
  margin-bottom: 20px;
}

.visit__subtitle {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 32px;
  text-transform: none;
}

.visit__btn {
  display: inline-block;
  background-color: #0095a4;
  color: #ffffff;
  white-space: nowrap;
  padding: 18px 41px;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  border-radius: 60px;
  transition: 0.4s;
}

.main__contacts {
  padding: 62px 0 74px;
  background-color: #e8eff4;
}

.contacts__inner {
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-around;
}

.contacs__item {
  display: flex;
}

.contacs__item img {
  margin-right: 16px;
}

.contacts__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #0c1623;
  margin-bottom: 13px;
}

.contacts__subtitle {
  font-family: Inter, sans-serif;
  text-transform: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 81%;
  color: rgba(17, 28, 30, 0.8);
}

.contacts__tel {
  display: block;
  transition: all 0.4s;
}

.contacts__tel:hover {
  transform: scale(1.15);
  color: #0095a4;
}

.footer {
  background-color: #0c1623;
  padding: 110px 0 34px;
}

.footer__inner {
  display: flex;
}

.footer__item1 {
  max-width: 318px;
  margin-right: 100px;
}

.footer__item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 251px;
  max-width: 341px;
}

.footer__logo {
  margin-bottom: 21px;
  display: block;
}

.footer__desc {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: rgba(255, 255, 255, 0.8980392157);
  text-transform: none;
  margin-bottom: 40px;
}

.footer__socials {
  display: flex;
  flex-direction: initial;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 232px;
}

.socials__item {
  transition: all 0.4s;
}

.socials__item:hover {
  transform: scale(1.15);
}

.socials__item-link {
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: center;
}

.socials__item-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  right: none;
  bottom: none;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #0095a4;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  color: #ffffff;
  max-width: 267px;
  text-align: center;
  margin-bottom: 28px;
}

.footer__btns {
  width: 100%;
  display: flex;
  flex-direction: initial;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 210px;
}

.footer__btn-blue {
  display: inline-block;
  background-color: #0095a4;
  color: #ffffff;
  white-space: nowrap;
  padding: 16px 37px;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  border-radius: 60px;
  transition: 0.4s;
}

.footer__btn-black {
  font-weight: 600;
  font-size: 18px;
  line-height: 120%;
  color: #0095a4;
  background-color: #0c1623;
  white-space: nowrap;
  padding: 16px 22px;
  border-radius: 60px;
  border: 1px solid #0395a4;
  transition: 0.4s;
}

.footer__copy {
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 120%;
  color: #ffffff;
  letter-spacing: 0.05em;
  opacity: 0.7;
  text-align: center;
}

.footer__subtitle {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer__nav-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  margin-bottom: 14px;
  transition: all 0.3s;
}

.footer__nav-item:hover {
  color: #0095a4;
  transform: scale(1.05);
}

.footer__nav-item:last-child {
  margin-bottom: 0;
}

/*======================================== 1440px ==================================================*/
@media (max-width: 1440px) {
  .choice__img-house {
    left: -60px;
  }
  .choice__img-room {
    top: 350px;
    right: -50px;
  }
  .choice__content-right {
    max-width: 560px;
  }
}
/*======================================== 1300px ==================================================*/
@media (max-width: 1300px) {
  .header__card1 {
    top: -60px;
    right: -5px;
  }
  .header__card2 {
    left: -5px;
  }
  .header__img-man {
    top: -15%;
    right: -2%;
  }
  .header__img-house {
    max-width: 1100px;
    display: block;
    margin: 0 auto;
  }
  /*--------------------------------------------------------------------------------------*/
  .choice__img-house {
    left: 0;
  }
  .choice__img-room {
    top: 360px;
    right: -100px;
  }
  .choice__img-house img {
    width: 450px;
    height: 500px;
  }
  .choice__img-room img {
    width: 240px;
    height: 345px;
  }
  .choice__item {
    width: 170px;
    height: 200px;
  }
}
/*======================================== 1200px ==================================================*/
@media (max-width: 1200px) {
  .header__title {
    font-size: 60px;
  }
  .header__img-house {
    max-width: 1000px;
  }
  .header__card1 {
    top: -50px;
    right: 15px;
  }
  .header__card2 {
    left: 15px;
    bottom: 150px;
    width: -moz-fit-content;
    width: fit-content;
  }
  /*--------------------------------------------------------------------------------------*/
  .main__choice {
    padding: 110px 0 120px;
  }
  .choice__img-room {
    top: 400px;
    right: -130px;
  }
  .choice__text {
    margin-bottom: 35px;
  }
  .choice__items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 650px;
  }
  .choice__text {
    text-align: center;
  }
  /*--------------------------------------------------------------------------------------*/
  .amenities__subtitle {
    margin-bottom: 30px;
  }
  .amenities__items {
    justify-content: space-around;
  }
  .amenities__item {
    width: 250px;
    height: 300px;
  }
  .amenities__img {
    margin-bottom: 20px;
  }
  .amenities__desc {
    font-size: 20px;
  }
  .amenities__img {
    width: 97px;
    height: 97px;
  }
  .amenities__img img {
    width: 50px;
    height: 50px;
  }
  .main__amenities::after {
    width: 85%;
  }
}
/*======================================== 1100px ==================================================*/
@media (max-width: 1100px) {
  .header__img-house {
    max-width: 950px;
  }
  .header__card1 {
    top: -50px;
    right: 10px;
  }
  .header__card2 {
    left: 10px;
  }
  /*--------------------------------------------------------------------------------------*/
  .choice__text {
    max-width: 480px;
  }
  /*--------------------------------------------------------------------------------------*/
  .amenities__item {
    width: 200px;
    height: 250px;
  }
  .amenities__img img {
    width: 43px;
    height: 43px;
  }
  .amenities__img {
    width: 87px;
    height: 87px;
  }
}
/*======================================== 1000px ==================================================*/
@media (max-width: 1000px) {
  .header__title {
    font-size: 46px;
    max-width: 500px;
  }
  .header__content-top {
    margin-bottom: 40px;
  }
  .header__info-btn {
    margin-top: 18px;
  }
  .header__img-house {
    max-width: 850px;
  }
  .header__card1 {
    top: 0;
    right: 10px;
    padding: 15px;
    border-radius: 60px;
  }
  .header__img-man {
    top: -10%;
    right: 0;
    width: 55px;
    height: 55px;
  }
  .header__card1-subtitle {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
  }
  .header__card1-rating {
    justify-content: space-around;
  }
  .header__desc {
    text-align: center;
    margin-top: 5px;
    font-size: 15px;
    line-height: 155%;
  }
  .header__card2 {
    left: 10px;
    padding: 15px;
    border-radius: 60px;
    bottom: 0;
  }
  .header__card2 img {
    width: 100px;
    height: 110px;
    border-radius: 30px;
  }
  .header__card2-subtitle {
    font-size: 16px;
    margin: 6px 0;
  }
  .heager__card2-sale {
    margin: 10px 0;
  }
  .header__card2-price {
    font-size: 15px;
  }
  /*--------------------------------------------------------------------------------------*/
  .main__choice {
    padding: 130px 0;
  }
  .choice__title {
    font-size: 40px;
    margin-bottom: 70px;
  }
  .choice__content-right {
    margin-top: 0;
  }
  .choice__text {
    text-align: end;
    max-width: none;
  }
  .choice__img-house img {
    width: 430px;
    height: 460px;
  }
  .choice__img-room img {
    width: 230px;
    height: 320px;
  }
  .choice__img-room {
    top: 355px;
    right: -145px;
  }
  .choice__items {
    width: 90%;
    align-items: flex-end;
    height: 550px;
  }
  .choice__item {
    width: 150px;
    height: 165px;
  }
  .choice__img-qual img,
  .choice__img-secure img,
  .choice__img-price img {
    width: 55px;
    height: 55px;
  }
  .choice__desc {
    font-size: 18px;
    margin-top: 15px;
  }
  /*--------------------------------------------------------------------------------------*/
  .main__amenities::after {
    height: 180px;
  }
  .amenities__title {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .amenities__subtitle {
    margin-bottom: 20px;
  }
  .amenities__img {
    margin-bottom: 10px;
  }
}
/*======================================== 900px ==================================================*/
@media (max-width: 900px) {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.262);
    z-index: 90;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  .overlay--show {
    visibility: visible;
    opacity: 1;
  }
  /*--------------------------------------------------------------------------------------*/
  .burger {
    position: fixed;
    top: 1%;
    left: none;
    right: 1%;
    bottom: none;
    z-index: 350;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
  }
  .burger--follow {
    box-shadow: 0 4px 8px 0px rgba(143, 141, 141, 0.6196078431);
    background-color: #ffffff;
  }
  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background-color: #0c1623;
    border-radius: 3px;
    margin: 4px 0;
    transition: all 0.3s;
  }
  .burger::after,
  .burger::before {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #0c1623;
    border-radius: 3px;
    transition: all 0.3s;
  }
  .open span {
    transition: all 0.3s;
    transform: scale(0);
  }
  .open:before {
    position: fixed;
    transform: rotate(-45deg);
  }
  .open:after {
    position: fixed;
    transform: rotate(45deg);
  }
  .header {
    padding-top: 90.2px;
  }
  .header__top {
    min-width: 320px;
    position: fixed;
    top: 0;
    left: none;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 200;
    transform: translateX(100%);
    transition: all 0.3s;
  }
  .header__top--open {
    transform: translateX(0%);
  }
  .header__top-inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 130px 10px;
  }
  .header__nav {
    margin: 0 auto;
  }
  .header__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
  }
  .header__nav-item {
    margin: 30px 0;
  }
  .header__nav-link {
    display: block;
  }
  .header__buttons {
    flex-direction: column;
  }
  .header__buttons-login {
    margin: 0 0 20px 0;
  }
  .header__img-house {
    display: none;
  }
  .header__body-inner {
    display: flex;
    justify-content: space-between;
  }
  .header__title {
    max-width: 375px;
  }
  .header__content-top {
    display: block;
    margin-bottom: 0;
  }
  .header__info {
    margin: 25px 0;
  }
  .header__card1 {
    position: relative;
    top: 0;
    right: 0;
  }
  .header__card2 {
    position: static;
    min-width: 288px;
  }
  .header__content-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  /*--------------------------------------------------------------------------------------*/
  .amenities__subtitle {
    font-size: 17px;
  }
  .amenities__item {
    width: 170px;
    height: 220px;
  }
  .amenities__desc {
    font-size: 18px;
  }
  .amenities__img {
    width: 77px;
    height: 77px;
  }
  .amenities__img img {
    width: 38px;
    height: 38px;
  }
}
/*======================================== 850px ==================================================*/
@media (max-width: 850px) {
  .header__info-text {
    max-width: 325px;
  }
  .header__card2 img {
    width: 75px;
    height: 90px;
  }
  /*--------------------------------------------------------------------------------------*/
  .choice__inner {
    flex-direction: column;
    align-items: center;
  }
  .choice__title {
    margin-bottom: 40px;
    text-align: center;
  }
  .choice__img-room {
    top: 243px;
    right: -110px;
  }
  .choice__img-room img {
    border-radius: 90px;
    height: 270px;
    width: 210px;
  }
  .choice__img-house img {
    width: 390px;
    border-radius: 110px;
    height: 420px;
  }
  .choice__text {
    margin: 50px 0;
    text-align: center;
  }
  .choice__items {
    width: 100%;
    flex-direction: initial;
    height: auto;
  }
  .choice__item {
    border-radius: 20px;
  }
  /*--------------------------------------------------------------------------------------*/
  .amenities__inner {
    padding: 30px 0;
  }
}
/*======================================== 800px ==================================================*/
@media (max-width: 800px) {
  .amenities__items {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    gap: 25px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .amenities__item {
    border-radius: 20px;
  }
}
/*======================================== 650px ==================================================*/
@media (max-width: 650px) {
  .header__body-inner {
    flex-direction: column;
    align-items: center;
  }
  .header__content-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .header__title {
    font-size: 40px;
  }
  .header__card2 {
    margin-top: 25px;
  }
  /*--------------------------------------------------------------------------------------*/
  .choice__title {
    font-size: 34px;
  }
  .choice__content-right {
    max-width: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .choice__text {
    max-width: 400px;
  }
  .choice__img-house img {
    width: 360px;
    height: 380px;
  }
  .choice__img-room img {
    display: none;
  }
  .choice__items {
    justify-content: space-around;
  }
  .choice__item {
    width: 130px;
    height: 130px;
    text-align: center;
  }
  .choice__img-qual img,
  .choice__img-secure img,
  .choice__img-price img {
    width: 45px;
    height: 45px;
  }
  .choice__desc {
    font-size: 16px;
    margin-top: 10px;
  }
  /*--------------------------------------------------------------------------------------*/
  .amenities__title {
    font-size: 34px;
  }
  .amenities__desc,
  .amenities__subtitle {
    font-size: 16px;
  }
  .amenities__img {
    width: 72px;
    height: 72px;
  }
  .amenities__img img {
    width: 35px;
    height: 35px;
  }
}
/*======================================== 550px ==================================================*/
@media (max-width: 550px) {
  .choice__img-house img {
    width: 340px;
    height: 350px;
  }
}
/*======================================== 500px ==================================================*/
@media (max-width: 500px) {
  .header__info-btn {
    font-size: 15px;
  }
  .header__img-man {
    width: 50px;
    height: 50px;
  }
  .header__card1-subtitle {
    font-size: 17px;
  }
  .header__card1-rating,
  .header__desc {
    font-size: 14px;
  }
  /*--------------------------------------------------------------------------------------*/
  .main__choice {
    padding: 110px 0;
  }
  .choice__text {
    margin: 30px 0;
  }
  .choice__item {
    width: 100px;
    height: 110px;
  }
  .choice__img-qual img,
  .choice__img-secure img,
  .choice__img-price img {
    width: 40px;
    height: 40px;
  }
  .choice__desc {
    font-size: 14px;
  }
  /*--------------------------------------------------------------------------------------*/
  .amenities__items {
    gap: 18px;
  }
  .amenities__item {
    width: 150px;
    height: 190px;
  }
  .amenities__img {
    width: 67px;
    height: 67px;
    margin-bottom: 5px;
  }
  .amenities__img img {
    width: 32px;
    height: 32px;
  }
  .main__amenities::after {
    width: 75%;
    height: 160px;
  }
  .amenities__desc,
  .amenities__subtitle {
    font-size: 15px;
  }
}
/*======================================== 400px ==================================================*/
@media (max-width: 400px) {
  .header__top {
    min-width: none;
    left: 0;
  }
  .header__nav-item {
    margin: 20px 0;
  }
  .header__title {
    font-size: 34px;
  }
  .header__info-text {
    font-size: 15px;
  }
  /*----------------------------------------------------------------------------------------*/
  .choice__title {
    margin-bottom: 25px;
    font-size: 30px;
  }
  .choice__text {
    font-size: 15px;
    margin: 20px 0;
  }
  .choice__img-house img {
    width: 300px;
    height: 310px;
  }
  .choice__item {
    width: 85px;
    height: 90px;
  }
  .choice__img-qual img,
  .choice__img-secure img,
  .choice__img-price img {
    width: 30px;
    height: 30px;
  }
  .choice__desc {
    margin-top: 5px;
  }
  /*----------------------------------------------------------------------------------------*/
  .main__amenities::after {
    height: 140px;
  }
  .amenities__title {
    font-size: 30px;
  }
  .amenities__desc,
  .amenities__subtitle {
    font-size: 14px;
  }
  .amenities__subtitle {
    max-width: 190px;
    text-align: center;
  }
  .amenities__item {
    width: 140px;
    height: 160px;
  }
  .amenities__img {
    width: 62px;
    height: 62px;
    margin-bottom: 3px;
  }
  .amenities__img img {
    width: 28px;
    height: 28px;
  }
}/*# sourceMappingURL=style.css.map */