@import "fonts";
@import "reset";

// =================================================== GLOBAL =====================================================//
html {
  font-family: Playfair Display, sans-serif;
  text-transform: capitalize;
}

@mixin font($fw, $fs, $lh, $col) {
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  color: $col;
}

@mixin pos($pos, $top, $left, $right, $bot) {
  position: $pos;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bot;
}

@mixin flex($fd, $ai, $jc) {
  display: flex;
  flex-direction: $fd;
  align-items: $ai;
  justify-content: $jc;
}

@mixin btn($padding, $fw, $fs, $lh, $br) {
  display: inline-block;
  background-color: #0095a4;
  color: #ffffff;
  white-space: nowrap;
  padding: $padding;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
  border-radius: $br;
  transition: 0.4s;
}

@mixin card($padding) {
  background: #ffffff;
  box-shadow: 8px 8px 49px rgba(25, 57, 70, 0.25);
  border-radius: 6px;
  padding: $padding;
}

$blue-color: #0095a4;

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.container {
  max-width: 1203px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.change__color {
  color: $blue-color;
}

.header__buttons-contact:hover,
.header__info-btn:hover {
  transform: scale(1.05);
}
//===================================================================================================================//

.header__top {
  background-color: #f4fdfe;
  padding: 25.5px 0;
}

.header__top-inner {
  @include flex(initial, center, space-between);
}

.header__nav {
  margin-right: 136px;
  margin-left: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 28px;
}

.header__nav-item:last-child {
  margin-right: 0;
}

.header__nav-link,
.header__buttons-login {
  position: relative;
  @include font(400, 18px, 120%, #636465);
  white-space: nowrap;
  transition: all 0.3s;
}

.header__nav-link:hover,
.header__buttons-login:hover {
  color: #101c26;
}

.header__nav-link::before,
.header__buttons-login::before {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: -1px;
  background-color: #101c26;
  transition: width 0.3s ease-in-out;
}

.header__nav-link:hover:before,
.header__buttons-login:hover:before {
  width: 100%;
}

.header__buttons {
  display: flex;
  align-items: center;
}

.header__buttons-login {
  margin-right: 26px;
}

.header__buttons-contact {
  @include btn(10px 24px, 600, 16px, 120%, 50px);
}

.header__body {
  margin-top: 81px;
}

.header__content-top {
  @include flex(initial, flex-start, space-between);
  margin-bottom: 79px;
}

.header__title {
  max-width: 604px;
  @include font(700, 68px, 120%, #0c1623);
}

.header__info-text {
  max-width: 468px;
  font-family: Inter, sans-serif;
  @include font(400, 16px, 170%, #122237);
  text-transform: none;
}

.header__info-btn {
  @include btn(10px 24px, 600, 16px, 120%, 50px);
  margin-top: 23px;
}

.header__content-bottom {
  position: relative;
}

.header__card1 {
  position: relative;
  max-width: 288px;
  @include card(20px);
  @include pos(absolute, -65px, none, -45px, none);
  transition: all 0.5s;
}

.header__card1:hover,
.header__card2:hover {
  box-shadow: 12px 12px 49px rgba(25, 57, 70, 0.558);
}

.header__img-man {
  @include pos(absolute, -17%, none, -5%, none);
}

.header__card1-subtitle {
  @include font(500, 24px, 120%, #021c1c);
  margin-bottom: 8px;
}

.header__card1-rating {
  @include flex(initial, flex-center, space-between);
}

.header__card1-proff {
  @include font(400, 14px, 120%, #3e5658b2);
}

.header__card1-text {
  @include font(400, 16px, 120%, $blue-color);
}

.header__desc {
  @include font(400, 16px, 170%, #122237);
  text-transform: none;
  margin-top: 15px;
}

.header__card2 {
  width: 353px;
  @include card(18px 25px 18px 21px);
  @include pos(absolute, none, -60px, none, 220px);
  display: flex;
  transition: all 0.5s;
}

.header__card2-content {
  @include flex(column, flex-start, flex-start);
  margin-left: 16px;
}

.header__card2-subtitle {
  @include font(600, 18px, 120%, #0c1623);
  margin: 8px 0;
}

.header__card2-text {
  @include font(400, 14px, 120%, #3e5658b2);
}

.heager__card2-sale {
  margin: 14px 0;
  background-color: #e8eff4;
  white-space: nowrap;
  padding: 5.5px 20.5px;
  @include font(500, 14px, 120%, $blue-color);
  border-radius: 10px;
}

.header__card2-price {
  color: $blue-color;
}

.header__body {
  position: relative;
  z-index: 20;
}

.header__body::after {
  z-index: -5;
  content: "";
  position: absolute;
  top: calc(100% - 317px);
  background-color: #e8eff4;
  width: 100%;
  height: 317px;
}

//====================================================================================================================//

.main__choice {
  background-color: #f4fdfe;
  padding: 110px 0 267px;
}

.choice__inner {
  @include flex(initial, flex-start, space-between);
}

.choice__title {
  @include font(600, 46px, 120%, #0c1623);
  margin-bottom: 40px;
}

.choice__content-left {
  position: relative;
}

.choice__img-house {
  @include pos(absolute, none, -134px, none, none);
  position: relative;
}

.choice__img-room {
  @include pos(absolute, 335px, none, -30px, none);
}

.choice__content-right {
  margin-top: 95.2px;
  max-width: 592px;
}

.choice__text {
  font-family: Inter, sans-serif;
  margin-bottom: 133px;
  @include font(400, 16px, 150%, #0c1623cc);
  letter-spacing: 0.03em;
  text-transform: none;
}

.choice__items {
  @include flex(initial, flex-start, space-around);
}

.choice__item {
  width: 176px;
  height: 204px;
  background: #ffffff;
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  @include flex(column, center, center);
  transition: all 0.5s;
}

.choice__item:hover {
  box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.427);
}

.choice__desc {
  @include font(600, 20px, 150%, #101c26);
  margin-top: 20px;
}

//=====================================================================================================================//

.main__amenities {
  background-color: #ffffff;
  position: relative;
  z-index: 100;
}

.main__amenities::after {
  content: "";
  width: 80%;
  height: 203px;
  background-color: #0095a4;
  @include pos(absolute, 79%, 0, none, none);
  z-index: -1;
}

.amenities__inner {
  @include flex(column, center, flex-start);
}

.amenities__title {
  @include font(600, 48px, 120%, #0c1623);
  margin-bottom: 20px;
}

.amenities__subtitle {
  font-family: Inter, sans-serif;
  margin-bottom: 41px;
  text-transform: none;
  @include font(400, 18px, 180%, #101c26);
}

.amenities__items {
  @include flex(initial, center, space-between);
  width: 100%;
}

.amenities__item {
  width: 278px;
  height: 334px;
  background: #ffffff;
  box-shadow: 6px 8px 46px rgba(130, 172, 162, 0.25);
  border-radius: 10px;
  @include flex(column, center, center);
  transition: all 0.5s;
}

.amenities__item:hover {
  box-shadow: 6px 8px 46px rgba(104, 118, 115, 0.482);
  transform: scale(1.03);
}

.amenities__img {
  position: relative;
  z-index: 5;
  width: 108px;
  height: 108px;
  margin-bottom: 30px;
  @include flex(initial, center, center);
}

.amenities__circle {
  @include pos(absolute, 50%, 50%, none, none);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: #eafafb;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.amenities__desc {
  @include font(500, 24px, 180%, #0c1623);
}

//=========================================================================================================================//

.main__plans {
  position: relative;
  padding: 201px 0 125px;
  background-color: #e8eff4;
}

.plans__inner {
  @include flex(column, center, flex-start);
}

.plans__title {
  @include font(600, 48px, 120%, #0c1623);
  margin-bottom: 20px;
}

.plans__subtitle {
  font-family: Inter, sans-serif;
  @include font(400, 16px, 180%, #101c26cc);
  margin-bottom: 25px;
  text-transform: none;
}

.plans__filter-box {
  width: 40%;
  @include flex(initial, center, space-around);
  margin-bottom: 40px;
}

.plans__filter-btn {
  @include font(600, 24px, 120%, #0c1623);
  background-color: transparent;
  transition: all 0.3s;
}

.plans__filter-btn--active,
.plans__filter-btn:hover {
  transform: scale(1.03);
  color: $blue-color;
}

.plans__items {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
  margin: 0 auto;
}

.plans__item {
  @include flex(column, center, flex-start);
  width: 370px;
  height: 446px;
  background: #ffffff;
  box-shadow: 6px 8px 40px rgba(164, 166, 168, 0.25);
  border-radius: 10px;
  transition: all 0.5s;
}

.plans__item:hover {
  transform: scale(1.03);
  box-shadow: 6px 8px 40px rgba(140, 141, 143, 0.566);
}

.plans__img img {
  border-radius: 10px 10px 0px 0px;
}

.plans__text {
  @include font(600, 32px, 120%, #0c1623);
  margin: 24px 0 16px;
}

.plans__desc {
  font-family: Inter, sans-serif;
  text-transform: none;
  @include font(400, 16px, 150%, #3b464f);
  margin-bottom: 20px;
  max-width: 320px;
  text-align: center;
  letter-spacing: 0.03em;
}

.plans__link {
  background-color: transparent;
  width: 109px;
  @include flex(initial, baseline, space-between);
  transition: all 0.3s;
}

.plans__link:hover {
  transform: scale(1.07);
}

.plans__link-text {
  @include font(500, 16px, 150%, #0095a4);
  letter-spacing: 0.03em;
}

//=========================================================================================================================//

.main__gallery {
  background: linear-gradient(to top, #ffffff 55%, #e8eff4 0%);
  padding-bottom: 143px;
}

.swiper-slide {
  @include flex(initial, center, center);
}

.swiper-button-next,
.swiper-button-prev {
  color: #1d263a;
}

.gallery__title {
  text-align: center;
  @include font(700, 48px, 150%, #0c1623);
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}

.gallery__subtitle {
  text-align: center;
  font-family: Inter, sans-serif;
  @include font(400, 16px, 175%, #101c26cc);
  margin-bottom: 53px;
}



