body {
  background-color: rgb(239, 227, 238);
}

h1 {
  color: rgb(132, 35, 114);
  text-align: center;
}

.lessons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.lessons a,
.project a {
  text-decoration: none;
  color: rgb(102, 24, 82);
  font-size: 20px;
}

.lessons li {
  margin: 30px 30px 20px 30px;
}

.hov:hover {
  color: rgb(210, 94, 164);
}

.project {
  height: 16vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project a {
  font-size: 40px;
}
